@import "./cards.css";
@import "./forms.css";

* {
  font-family: "Montserrat", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 35vh 1fr;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.wrapper__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.header__icon {
  width: 90px;
}

.header__title {
  margin: 10px;
  font-size: 28px;
}

.header__subtitle {
  margin: 0;
}

.main .wrapper {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
}

@media (min-width: 640px) {
  body {
    grid-template-rows: 25vh 1fr;
  }
}
